:root{
  --element-width: 128px;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: grid;
  padding: 50px;

  background-color: rgb(60, 60, 60);
  
  background-image:
    repeating-linear-gradient(#545454 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #515151 0 1px, transparent 1px 100%);
  background-size: 64px 64px;

  height: 100svh;
}

main {
  display: grid;
  gap: 10px;


  grid-template-columns: 1fr 3fr;
}

textarea {
  min-height: 100%;
  min-width: 100%;
}

.diagram-container {
  display: flex;
}

.table {
  display: block;
  background-color: #151e23;
  color: white;

  font-family: Arial, Helvetica, sans-serif;

  width: var(--element-width);

  position: absolute;
  translate: -50% 0;
}

.table__title{
  text-align: center;
  color: #dbd1d0;

  padding: 5px;
}

.table__attributes {
  background-color: #252f38;
}

.table__attributes > div{
  display: flex;
  justify-content: space-between;

  padding: 5px 10px;
}

.attributes__type{
  color: rgb(132, 132, 132);
}

.relationship{
  position: absolute;

  width: var(--element-width);
	height: 70px;

  display: grid;
  place-items: center;

  transform: translate(-50%, -50% );
}

.relationship > h3{
  z-index: 10;
  text-align: center;
}

.relationship::after{
	content:'';
	position:absolute;
  
	bottom: 35px;
	border-bottom: 35px solid #ffffff;
	border-left: 75px solid transparent;
	border-right:75px solid transparent;
}

.relationship::before{
  content:'';
	position: absolute;
  
	top: 35px;
	border-top: 35px solid #ffffff;
	border-left: 75px solid transparent;
	border-right:75px solid transparent;
}