* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: grid;
  padding: 50px;

  background-color: rgb(60, 60, 60);

  height: 100svh;
}

main {
  display: grid;
  gap: 10px;

  padding: 10px;
  background-color: rgb(70, 70, 70);

  grid-template-columns: 1fr 3fr;
}

textarea {
  min-height: 100%;
  min-width: 100%;
}

.diagram-container {
  display: flex;
}

.table {
  display: block;
  background-color: #151e23;
  color: white;

  font-family: Arial, Helvetica, sans-serif;

  width: 150px;

  position: absolute;

  transform: translate(-50%,0);
}

.table__title{
  text-align: center;
  color: #dbd1d0;

  padding: 5px;
}

.table__attributes {
  background-color: #252f38;
}

.table__attributes > div{
  display: flex;
  justify-content: space-between;

  padding: 5px 10px;
}

.attributes__type{
  color: rgb(132, 132, 132);
}