.table,
.relationship,
path {
  transition: 0.25s all;
}

path {
  fill: none;
  stroke: var(--relationship-color);
  stroke-width: 2px;
  stroke-linejoin: round;

  filter: drop-shadow(-1px -1px 0px var(--table-color))
    drop-shadow(1px -1px 0px var(--table-color))
    drop-shadow(2px 2px 0px var(--table-color))
    drop-shadow(-1px 1px 0px var(--table-color));
}

.table {
  display: block;
  background-color: var(--table-color);
  color: white;

  font-family: Arial, Helvetica, sans-serif;

  /* width: var(--element-width); */

  position: absolute;
  translate: -50% 0;

  border: 1px solid var(--relationship-color);
}

.table__title {
  text-align: center;

  color: var(--text-color);
  background-color: var(--background-color);

  padding: 5px;
}

/* .table__attributes {
  border: 1px solid teal;
} */

.table__attributes > div {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  padding: 3px 10px;
  color: var(--text-color);
}

.table__attributes > div > span {
  display: grid;
  place-items: center;
}

.attributes__type {
  color: var(--attributes-type-color);
}

.relationship {
  position: absolute;

  width: var(--element-width);
  height: 70px;

  display: grid;
  place-items: center;

  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 12px;
}

.relationship > h3 {
  z-index: 10;
  text-align: center;
  color: var(--background-color);
}

.relationship::after {
  content: "";
  position: absolute;

  bottom: 35px;
  border-bottom: 35px solid var(--relationship-color);
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.relationship::before {
  content: "";
  position: absolute;

  top: 35px;
  border-top: 35px solid var(--relationship-color);
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.line {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.cardinality-label {
  position: absolute;

  background-color: var(--background-color);
  color: var(--relationship-color);

  padding: 0 2px;

  translate: -50% -50%;
}
